export(
"Fletcher2013pipeline.mra1st",
"Fletcher2013pipeline.mra2nd",
"Fletcher2013pipeline.mraNormals",
"Fletcher2013pipeline.mraTALL",
"Fletcher2013pipeline.consensusnet",
"Fletcher2013pipeline.enrichmap"
)
import(Fletcher2013a)
import(RedeR)
import(RTN)
import(igraph)
importFrom(RColorBrewer,brewer.pal)
importFrom(grDevices, colorRampPalette, dev.off, grey, palette, pdf)
importFrom(graphics, abline, axis, box, image, layout, mtext, par)
importFrom(stats, as.dendrogram, as.dist, cor, hclust, order.dendrogram, quantile, reorder)
importFrom(utils, data)
